<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
</head>
<body style="margin:0; text-align:center; background:#b8c7e2; height:100%;">
    <div style="padding: 50px; background: #657FAC; color: white;">
        <p>&nbsp;</p>
        <h1>LudicZone</h1>
        <h2>Changement du mot de passe</h2>
        <p style="font-size: 1.5rem;">Bonjour $pseudo,</p>
        <p>
            Vous venez de demander un changement de mot de passe sur le site LudicZone.<br>
            Veuillez poursuivre cette procédure en cliquant sur le lien suivant :
        </p>
        <p>
            <a href="$url" style="text-decoration: none; padding: 5px; color: white; font-size: 1.5rem; border: 1px solid white;">Cliquer ici</a>
        </p>
        <p>&nbsp;</p>
    </div>
</body>
</html>